@charset "UTF-8";
/* CSS Document */
.list_archive_2 li:nth-child(2n+1) {
	clear: both;
}
.list_archive_3 li:nth-child(3n+1) {
	clear: both;
}
.list_archive_4 li:nth-child(4n+1) {
	clear: both;
}
.list_archive_6 li:nth-child(5n+1) {
	clear: both;
}
.chunktop_80-40 {
	padding-top: 80px !important;
}
.chunktop_60-30 {
	padding-top: 60px !important;
}
.chunktop_40-20 {
	padding-top: 40px !important;
}

@media only screen and (max-width: 800px) {
.chunktop_80-40 {
	padding-top: 40px !important;
}
.chunktop_60-30 {
	padding-top: 30px !important;
}
.chunktop_40-20 {
	padding-top: 20px !important;
}
}
.chunkbtm_80-40 {
	padding-bottom: 80px !important;
}
.chunkbtm_60-30 {
	padding-bottom: 60px !important;
}
.chunkbtm_40-20 {
	padding-bottom: 40px !important;
}

@media only screen and (max-width: 800px) {
.chunkbtm_80-40 {
	padding-bottom: 40px !important;
}
.chunkbtm_60-30 {
	padding-bottom: 30px !important;
}
.chunkbtm_40-20 {
	padding-bottom: 20px !important;
}
}
.chunk_80-40 {
	margin-bottom: 80px !important;
}
.chunk_60-30 {
	margin-bottom: 60px !important;
}
.chunk_40-20 {
	margin-bottom: 40px !important;
}

@media only screen and (max-width: 800px) {
.chunk_80-40 {
	margin-bottom: 40px !important;
}
.chunk_60-30 {
	margin-bottom: 30px !important;
}
.chunk_40-20 {
	margin-bottom: 20px !important;
}
}
.font01 {
	font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif !important;
}
.font02 {
	font-family: 'Courgette', cursive;
	font-style: normal !important;
}
/************************************ テーブル幅*/
.tbl_w10 th {
	width: 10%;
}
.tbl_w15 th {
	width: 15%;
}
.tbl_w20 th {
	width: 20%;
}
.tbl_w25 th {
	width: 25%;
}
.tbl_w30 th {
	width: 30%;
}
.tbl_w35 th {
	width: 35%;
}
.tbl_w40 th {
	width: 40%;
}
.tbl_w45 th {
	width: 45%;
}
.tbl_w50 th {
	width: 50%;
}
.tbl_w55 th {
	width: 55%;
}
.tbl_w60 th {
	width: 60%;
}
.tbl_w65 th {
	width: 65%;
}
.tbl_w70 th {
	width: 70%;
}
.tbl_w75 th {
	width: 75%;
}
.tbl_w80 th {
	width: 80%;
}
.tbl_w85 th {
	width: 85%;
}
.tbl_w90 th {
	width: 90%;
}

@media only screen and (max-width: 800px) {
.tbl_w10 th, .tbl_w15 th, .tbl_w20 th, .tbl_w25 th, .tbl_w30 th, .tbl_w35 th, .tbl_w40 th, .tbl_w45 th, .tbl_w50 th, .tbl_w55 th, .tbl_w60 th, .tbl_w65 th, .tbl_w70 th, .tbl_w75 th, .tbl_w80 th, .tbl_w85 th, .tbl_w90 th {
	width: 100% !important;
}
}
/*インライン　ブロック*/
.dis_ilb_sp {
	display: inline-block;
}
.dis_pad_l05_sp {
	padding: 0 0 0 5px;
}
.dis_pad_r05_sp {
	padding: 0 5px 0 0;
}
.dis_pad_l10_sp {
	padding: 0 0 0 10px;
}
.dis_pad_r10_sp {
	padding: 0 10px 0 0;
}
.dis_pad_l20_sp {
	padding: 0 0 0 20px;
}
.dis_pad_r20_sp {
	padding: 0 20px 0 0;
}
.dis_b {
	display: block;
}
.dis_il {
	display: inline;
}
.dis_ilb {
	display: inline-block;
}
.dis_tb {
	display: table;
}
.dis_tbc {
	display: table-cell;
}
.dis_il, .dis_ilb, .dis_tb, .dis_tbc, .dis_ilb_sp {
	vertical-align: middle;
}
.dis_pad_l10 {
	padding: 0 0 0 10px;
}
.dis_pad_r10 {
	padding: 0 10px 0 0;
}
.dis_pad_l20 {
	padding: 0 0 0 20px;
}
.dis_pad_r20 {
	padding: 0 20px 0 0;
}

@media only screen and (max-width: 800px) {
.dis_b, .dis_il, .dis_ilb, .dis_tb, .dis_tbc {
	display: block;
}
.dis_pad_l20, .dis_pad_r20, .dis_pad_r10, .dis_pad_r10 {
	padding: 0 0 0 0px;
}
}
/*テキストカラー*/
.fo_or {
	color: #ff6600 !important;
}
.fo_gr {
	color: #80c840 !important;
}
.fo_bl {
	color: #0E3266 !important;
}
.fo_wbl {
	color: #28acc5 !important;
}
.fo_rd {
	color: #F00 !important;
}
.fo_bk {
	color: #000 !important;
}
.fo_wh {
	color: #FFF !important;
}
.fo_sg {
	color: #65BDBA !important;
}
.fo_rd02 {
color: #f86c6c!important;
}

/*背景カラー*/
.back-white {
	background-color: #FFFFFF !important;
}
.back-gray {
	background-color: #A1A1A1 !important;
}
.back-blue {
	background-color: #0E3266 !important;
}
.back-orange {
	background-color: #FF9F00 !important;
}
.back-cream {
	background-color: #FEFCE8 !important;
}
/*ボーダーカラー*/
.border-white {
	border-color: #FFFFFF !important;
}
.border-gray {
	border-color: #A1A1A1 !important;
}
.border-blue {
	border-color: #0E3266 !important;
}
.border-orange {
	border-color: #FF9F00 !important;
}

/********/
.chunk_20-20 {
	margin-bottom: 20px;
}
.chunk_30-20 {
	margin-bottom: 30px;
}
.chunk_40-20 {
	margin-bottom: 40px;
}
.chunk_50-20 {
	margin-bottom: 50px;
}
.chunk_60-20 {
	margin-bottom: 60px;
}
.chunk_70-20 {
	margin-bottom: 70px;
}
.chunk_80-20 {
	margin-bottom: 80px;
}
.chunk_90-20 {
	margin-bottom: 90px;
}
.chunk_100-20 {
	margin-bottom: 100px;
}
/********/
.chunk_20-40 {
	margin-bottom: 20px;
}
.chunk_30-40 {
	margin-bottom: 30px;
}
.chunk_40-40 {
	margin-bottom: 40px;
}
.chunk_50-40 {
	margin-bottom: 50px;
}
.chunk_60-30 {
	margin-bottom: 60px;
}
.chunk_60-40 {
	margin-bottom: 60px;
}
.chunk_70-40 {
	margin-bottom: 70px;
}
.chunk_80-40 {
	margin-bottom: 80px;
}
.chunk_90-40 {
	margin-bottom: 90px;
}
.chunk_100-40 {
	margin-bottom: 100px;
}
/********/
.chunk_20-60 {
	margin-bottom: 20px;
}
.chunk_30-60 {
	margin-bottom: 30px;
}
.chunk_40-60 {
	margin-bottom: 40px;
}
.chunk_50-60 {
	margin-bottom: 50px;
}
.chunk_60-60 {
	margin-bottom: 60px;
}
.chunk_70-60 {
	margin-bottom: 70px;
}
.chunk_80-60 {
	margin-bottom: 80px;
}
.chunk_90-60 {
	margin-bottom: 90px;
}
.chunk_100-60 {
	margin-bottom: 100px;
}

@media only screen and (max-width: 800px) {
.chunk_20-20, .chunk_30-20, .chunk_40-20, .chunk_50-20, .chunk_60-20, .chunk_70-20, .chunk_80-20, .chunk_90-20, .chunk_100-20 {
	margin-bottom: 20px;
}
.chunk_60-30 {
	margin-bottom: 30px;
}
.chunk_20-40, .chunk_30-40, .chunk_40-40, .chunk_50-40, .chunk_60-40, .chunk_70-40, .chunk_80-40, .chunk_90-40, .chunk_100-40 {
	margin-bottom: 40px;
}
.chunk_20-60, .chunk_30-60, .chunk_40-60, .chunk_50-60, .chunk_60-60, .chunk_70-60, .chunk_80-60, .chunk_90-60, .chunk_100-60 {
	margin-bottom: 60px;
}
.lm15_0 {
	margin-left: 0px !important;
	margin-bottom: 20px;
}
.rm15_0 {
	margin-right: 0px !important;
	margin-bottom: 20px;
}
}
/*Margin*/
.full-mg-00 {
	margin: 0 !important;
}
.full-mg-05 {
	margin: 5px !important;
}
.full-mg-10 {
	margin: 10px !important;
}
.full-mg-15 {
	margin: 15px !important;
}
.full-mg-20 {
	margin: 20px !important;
}
.full-mg-25 {
	margin: 25px !important;
}
.full-mg-30 {
	margin: 30px !important;
}
.full-mg-40 {
	margin: 40px !important;
}
.top-mg-00 {
	margin-top: 0px !important;
}
.top-mg-05 {
	margin-top: 5px !important;
}
.top-mg-10 {
	margin-top: 10px !important;
}
.top-mg-15 {
	margin-top: 15px !important;
}
.top-mg-20 {
	margin-top: 20px !important;
}
.top-mg-25 {
	margin-top: 25px !important;
}
.top-mg-30 {
	margin-top: 30px !important;
}
.top-mg-40 {
	margin-top: 40px !important;
}
.top-mg-50 {
	margin-top: 50px !important;
}
.top-mg-60 {
	margin-top: 60px !important;
}
.top-mg-70 {
	margin-top: 70px !important;
}
.top-mg-80 {
	margin-top: 80px !important;
}
.right-mg-00 {
	margin-right: 0 !important;
}
.right-mg-05 {
	margin-right: 5px !important;
}
.right-mg-10 {
	margin-right: 10px !important;
}
.right-mg-15 {
	margin-right: 15px !important;
}
.rm15_0 {
	margin-right: 15px;
}
.right-mg-20 {
	margin-right: 20px !important;
}
.right-mg-25 {
	margin-right: 25px !important;
}
.right-mg-30 {
	margin-right: 30px !important;
}
.right-mg-40 {
	margin-right: 40px !important;
}
.bottom-mg-00 {
	margin-bottom: 0px !important;
}
.bottom-mg-05 {
	margin-bottom: 5px !important;
}
.bottom-mg-10 {
	margin-bottom: 10px !important;
}
.bottom-mg-15 {
	margin-bottom: 15px !important;
}
.bottom-mg-20 {
	margin-bottom: 20px !important;
}
.bottom-mg-25 {
	margin-bottom: 25px !important;
}
.bottom-mg-30 {
	margin-bottom: 30px !important;
}
.bottom-mg-40 {
	margin-bottom: 40px !important;
}
.bottom-mg-60 {
	margin-bottom: 60px !important;
}
.bottom-mg-80 {
	margin-bottom: 80px !important;
}
.left-mg-00 {
	margin-left: 0 !important;
}
.left-mg-05 {
	margin-left: 5px !important;
}
.left-mg-10 {
	margin-left: 10px !important;
}
.left-mg-15 {
	margin-left: 15px !important;
}
.lm15_0 {
	margin-left: 15px;
}
.left-mg-20 {
	margin-left: 20px !important;
}
.left-mg-25 {
	margin-left: 25px !important;
}
.left-mg-30 {
	margin-left: 30px !important;
}
.left-mg-40 {
	margin-left: 40px !important;
}
/*Padding*/
.full-pad-00 {
	padding: 0px !important;
}
.full-pad-05 {
	padding: 5px !important;
}
.full-pad-10 {
	padding: 10px !important;
}
.full-pad-15 {
	padding: 15px !important;
}
.full-pad-20 {
	padding: 20px !important;
}
.full-pad-25 {
	padding: 25px !important;
}
.full-pad-30 {
	padding: 30px !important;
}
.full-pad-40 {
	padding: 40px !important;
}
.top-pad-00 {
	padding-top: 0 !important;
}
.top-pad-05 {
	padding-top: 5px !important;
}
.top-pad-10 {
	padding-top: 10px !important;
}
.top-pad-15 {
	padding-top: 15px !important;
}
.top-pad-20 {
	padding-top: 20px !important;
}
.top-pad-25 {
	padding-top: 25px !important;
}
.top-pad-30 {
	padding-top: 30px !important;
}
.top-pad-40 {
	padding-top: 40px !important;
}
.top-pad-50 {
	padding-top: 50px !important;
}
.top-pad-60 {
	padding-top: 60px !important;
}
.top-pad-70 {
	padding-top: 70px !important;
}
.top-pad-80 {
	padding-top: 80px !important;
}
.right-pad-00 {
	padding-right: 0 !important;
}
.right-pad-05 {
	padding-right: 5px !important;
}
.right-pad-10 {
	padding-right: 10px !important;
}
.right-pad-15 {
	padding-right: 15px !important;
}
.right-pad-20 {
	padding-right: 20px !important;
}
.right-pad-25 {
	padding-right: 25px !important;
}
.right-pad-30 {
	padding-right: 30px !important;
}
.right-pad-40 {
	padding-right: 40px !important;
}
.bottom-pad-00 {
	padding-bottom: 0 !important;
}
.bottom-pad-05 {
	padding-bottom: 5px !important;
}
.bottom-pad-10 {
	padding-bottom: 10px !important;
}
.bottom-pad-15 {
	padding-bottom: 15px !important;
}
.bottom-pad-20 {
	padding-bottom: 20px !important;
}
.bottom-pad-25 {
	padding-bottom: 25px !important;
}
.bottom-pad-30 {
	padding-bottom: 30px !important;
}
.bottom-pad-40 {
	padding-bottom: 40px !important;
}
.bottom-pad-50 {
	padding-bottom: 50px !important;
}
.bottom-pad-60 {
	padding-bottom: 60px !important;
}
.bottom-pad-70 {
	padding-bottom: 70px !important;
}
.bottom-pad-80 {
	padding-bottom: 80px !important;
}
.left-pad-00 {
	padding-left: 0 !important;
}
.left-pad-05 {
	padding-left: 5px !important;
}
.left-pad-10 {
	padding-left: 10px !important;
}
.left-pad-15 {
	padding-left: 15px !important;
}
.left-pad-20 {
	padding-left: 20px !important;
}
.left-pad-25 {
	padding-left: 25px !important;
}
.left-pad-30 {
	padding-left: 30px !important;
}
.left-pad-40 {
	padding-left: 40px !important;
}
/*Border*/
/*場所*/
.full-border {
	border: solid 1px !important;
}
.top-border {
	border-top: solid 1px !important;
}
.right-border {
	border-right: solid 1px !important;
}
.bottom-border {
	border-bottom: solid 1px !important;
}
.left-border {
	border-left: solid 1px !important;
}
/*太さ*/
.border-01 {
	border-width: 1px !important;
}
.border-03 {
	border-width: 3px !important;
}
.border-05 {
	border-width: 5px !important;
}
/*スタイル*/
.border-solid {
	border-style: solid !important;
}
.border-dot {
	border-style: dotted !important;
}
/*Float*/
.left {
	float: left !important;
}
.right {
	float: right !important;
}
/*Text*/
/*サイズ*/
.fo10 {
	font-size: 10px !important;
}
.fo12 {
	font-size: 12px !important;
}
.fo13 {
	font-size: 13px !important;
}
.fo14 {
	font-size: 14px !important;
}
.fo15 {
	font-size: 15px !important;
}
.fo16 {
	font-size: 16px !important;
}
.fo18 {
	font-size: 18px !important;
}
.fo20 {
	font-size: 20px !important;
}
.fo22 {
	font-size: 22px !important;
}
.fo24 {
	font-size: 24px !important;
}
.fo26 {
	font-size: 26px !important;
}
.fo28 {
	font-size: 28px !important;
}
.fo30 {
	font-size: 30px !important;
}
.fo32 {
	font-size: 32px !important;
}
.fo34 {
	font-size: 34px !important;
}
.fo36 {
	font-size: 36px !important;
}
.fo38 {
	font-size: 38px !important;
}
.fo40 {
	font-size: 40px !important;
}
.fo48 {
	font-size: 48px !important;
}
.fo60 {
	font-size: 60px !important;
}
@media only screen and (max-width: 800px) {
.fo10s {
	font-size: 10px !important;
}
.fo12s {
	font-size: 12px !important;
}
.fo13s {
	font-size: 13px !important;
}
.fo14s {
	font-size: 14px !important;
}
.fo15s {
	font-size: 15px !important;
}
.fo16s {
	font-size: 16px !important;
}
.fo18s {
	font-size: 18px !important;
}
.fo20s {
	font-size: 20px !important;
}
.fo22s {
	font-size: 22px !important;
}
.fo24s {
	font-size: 24px !important;
}
.fo26s {
	font-size: 26px !important;
}
.fo28s {
	font-size: 28px !important;
}
.fo30s {
	font-size: 30px !important;
}
.fo32s {
	font-size: 32px !important;
}
.fo34s {
	font-size: 34px !important;
}
.fo36s {
	font-size: 36px !important;
}
.fo38s {
	font-size: 38px !important;
}
.fo40s {
	font-size: 40px !important;
}
.fo48s {
	font-size: 48px !important;
}  
}
/*スタイル*/
.bold {
	font-weight: bold !important;
}

.fo-nomal {
	font-weight: normal !important;
}
.lh12 {
	line-height: 1.2em !important;
}
.lh14 {
	line-height: 1.4em !important;
}
.lh18 {
	line-height: 1.8em !important;
}
.lh20 {
	line-height: 2em !important;
}
/*テキスト位置*/
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
.text-left_s-center {
	text-align: left !important;
}
.text-right_s-center {
	text-align: right !important;
}
.text-center_s-left {
	text-align: center !important;
}
.text-center_s-right {
	text-align: center !important;
}

@media only screen and (max-width: 800px) {
.text-left_s-center, .text-right_s-center {
	text-align: center !important;
}
.text-center_s-left {
	text-align: left !important;
}
.text-center_s-right {
	text-align: right !important;
}
}
/*ポジション*/
.pos-ab {
	position: absolute !important;
}
.pos-rel {
	position: relative !important;
}
/*ホバー*/
.hv {
	opacity: 1.0 !important;
	filter: alpha(opacity=100) !important;
	-ms-filter: "alpha( opacity=100 )" !important;
}
.hv:hover {
	opacity: 0.8 !important;
	filter: alpha(opacity=80) !important;
	-ms-filter: "alpha( opacity=80 )" !important;
}
/*カラム*/

/* Style
   ========================================================================== */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.rob {
	margin-left: -15px;
	margin-right: -15px;
}
.cols-1, .coll-1, .cols-2, .coll-2, .cols-3, .coll-3, .cols-4, .coll-4, .cols-5, .coll-5, .cols-6, .coll-6, .cols-7, .coll-7, .cols-8, .coll-8, .cols-9, .coll-9, .cols-10, .coll-10, .cols-11, .coll-11, .cols-12, .coll-12, .cols-user01, .coll-user01, .cols-user02, .coll-user02, .cols-user03, .coll-user03 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.cols-1, .cols-2, .cols-3, .cols-4, .cols-5, .cols-6, .cols-7, .cols-8, .cols-9, .cols-10, .cols-11, .cols-12, .cols-user01, .cols-user02, .cols-user03 {
	float: left;
}
.cols-12 {
	width: 100%;
}
.cols-11 {
	width: 91.66666667%;
}
.cols-10 {
	width: 83.33333333%;
}
.cols-9 {
	width: 75%;
}
.cols-8 {
	width: 66.66666667%;
}
.cols-7 {
	width: 58.33333333%;
}
.cols-6 {
	width: 50%;
}
.cols-5 {
	width: 41.66666667%;
}
.cols-4 {
	width: 33.33333333%;
}
.cols-3 {
	width: 25%;
}
.cols-2 {
	width: 16.66666667%;
}
.cols-1 {
	width: 8.33333333%;
}
.cols-pull-12 {
	right: 100%;
}
.cols-pull-11 {
	right: 91.66666667%;
}
.cols-pull-10 {
	right: 83.33333333%;
}
.cols-pull-9 {
	right: 75%;
}
.cols-pull-8 {
	right: 66.66666667%;
}
.cols-pull-7 {
	right: 58.33333333%;
}
.cols-pull-6 {
	right: 50%;
}
.cols-pull-5 {
	right: 41.66666667%;
}
.cols-pull-4 {
	right: 33.33333333%;
}
.cols-pull-3 {
	right: 25%;
}
.cols-pull-2 {
	right: 16.66666667%;
}
.cols-pull-1 {
	right: 8.33333333%;
}
.cols-pull-0 {
	right: auto;
}
.cols-push-12 {
	left: 100%;
}
.cols-push-11 {
	left: 91.66666667%;
}
.cols-push-10 {
	left: 83.33333333%;
}
.cols-push-9 {
	left: 75%;
}
.cols-push-8 {
	left: 66.66666667%;
}
.cols-push-7 {
	left: 58.33333333%;
}
.cols-push-6 {
	left: 50%;
}
.cols-push-5 {
	left: 41.66666667%;
}
.cols-push-4 {
	left: 33.33333333%;
}
.cols-push-3 {
	left: 25%;
}
.cols-push-2 {
	left: 16.66666667%;
}
.cols-push-1 {
	left: 8.33333333%;
}
.cols-push-0 {
	left: auto;
}
.cols-offset-12 {
	margin-left: 100%;
}
.cols-offset-11 {
	margin-left: 91.66666667%;
}
.cols-offset-10 {
	margin-left: 83.33333333%;
}
.cols-offset-9 {
	margin-left: 75%;
}
.cols-offset-8 {
	margin-left: 66.66666667%;
}
.cols-offset-7 {
	margin-left: 58.33333333%;
}
.cols-offset-6 {
	margin-left: 50%;
}
.cols-offset-5 {
	margin-left: 41.66666667%;
}
.cols-offset-4 {
	margin-left: 33.33333333%;
}
.cols-offset-3 {
	margin-left: 25%;
}
.cols-offset-2 {
	margin-left: 16.66666667%;
}
.cols-offset-15 {
	margin-left: 12.5%;
}
.cols-offset-1 {
	margin-left: 8.33333333%;
}
.cols-offset-0 {
	margin-left: 0%;
}

@media (min-width: 801px) {
.coll-1, .coll-2, .coll-3, .coll-4, .coll-5, .coll-6, .coll-7, .coll-8, .coll-9, .coll-10, .coll-11, .coll-12 {
	float: left;
}
.coll-12 {
	width: 100%;
}
.coll-11 {
	width: 91.66666667%;
}
.coll-10 {
	width: 83.33333333%;
}
.coll-9 {
	width: 75%;
}
.coll-8 {
	width: 66.66666667%;
}
.coll-7 {
	width: 58.33333333%;
}
.coll-6 {
	width: 50%;
}
.coll-5 {
	width: 41.66666667%;
}
.coll-4 {
	width: 33.33333333%;
}
.coll-3 {
	width: 25%;
}
.coll-2 {
	width: 16.66666667%;
}
.coll-1 {
	width: 8.33333333%;
}
.coll-pull-12 {
	right: 100%;
}
.coll-pull-11 {
	right: 91.66666667%;
}
.coll-pull-10 {
	right: 83.33333333%;
}
.coll-pull-9 {
	right: 75%;
}
.coll-pull-8 {
	right: 66.66666667%;
}
.coll-pull-7 {
	right: 58.33333333%;
}
.coll-pull-6 {
	right: 50%;
}
.coll-pull-5 {
	right: 41.66666667%;
}
.coll-pull-4 {
	right: 33.33333333%;
}
.coll-pull-3 {
	right: 25%;
}
.coll-pull-2 {
	right: 16.66666667%;
}
.coll-pull-1 {
	right: 8.33333333%;
}
.coll-pull-0 {
	right: auto;
}
.coll-push-12 {
	left: 100%;
}
.coll-push-11 {
	left: 91.66666667%;
}
.coll-push-10 {
	left: 83.33333333%;
}
.coll-push-9 {
	left: 75%;
}
.coll-push-8 {
	left: 66.66666667%;
}
.coll-push-7 {
	left: 58.33333333%;
}
.coll-push-6 {
	left: 50%;
}
.coll-push-5 {
	left: 41.66666667%;
}
.coll-push-4 {
	left: 33.33333333%;
}
.coll-push-3 {
	left: 25%;
}
.coll-push-2 {
	left: 16.66666667%;
}
.coll-push-1 {
	left: 8.33333333%;
}
.coll-push-0 {
	left: auto;
}
.coll-offset-12 {
	margin-left: 100%;
}
.coll-offset-11 {
	margin-left: 91.66666667%;
}
.coll-offset-10 {
	margin-left: 83.33333333%;
}
.coll-offset-9 {
	margin-left: 75%;
}
.coll-offset-8 {
	margin-left: 66.66666667%;
}
.coll-offset-7 {
	margin-left: 58.33333333%;
}
.coll-offset-6 {
	margin-left: 50%;
}
.coll-offset-5 {
	margin-left: 41.66666667%;
}
.coll-offset-4 {
	margin-left: 33.33333333%;
}
.coll-offset-3 {
	margin-left: 25%;
}
.coll-offset-2 {
	margin-left: 16.66666667%;
}
.coll-offset-15 {
	margin-left: 12.5%;
}
.coll-offset-1 {
	margin-left: 8.33333333%;
}
.coll-offset-0 {
	margin-left: 0%;
}
}
/*ページネーション*/
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}
.pagination > li {
	display: inline;
}
.pagination > li > a, .pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #33a39f;/*変更*//*変更点(非アクティブ時フォントカラー)*/
	background-color: #ffffff;
	border: 1px solid #33a39f;/*変更*//*変更点(非アクティブ時ボーダーカラー)*/
	margin-left: -1px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: #33a39f;/*変更*//*変更点(ロールオーバー時フォントカラー)*/
	background-color: #d7f5f4;/*変更*//*変更点(ロールオーバー時背景カラー)*/
	border-color: #33a39f;/*変更*//*変更点(ロールオーバー時ボーダーカラー)*/
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 2;
	color: #fff;
	background-color: #33a39f;/*変更*//*変更点(アクティブ時背景カラー)*/
	border-color: #33a39f;/*変更*//*変更点(アクティブ時ボーダーカラー)*/
	cursor: default;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	color: #777777;
	background-color: #ffffff;
	border-color: #dddddd;
	cursor: not-allowed;
}
/*ページャー*/
.pager {
	padding-left: 0;
	margin: 20px 0;
	list-style: none;
	text-align: center;
}
.pager li {
	display: inline;
}
.pager li > a, .pager li > span {
	display: inline-block;
	padding: 5px 14px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 15px;
}
.pager li > a:hover, .pager li > a:focus {
	text-decoration: none;
	background-color: #eeeeee;
}
.pager .next > a, .pager .next > span {
	float: right;
}
.pager .return > a, .pager .return > span {
	text-align: center;
}
.pager .previous > a, .pager .previous > span {
	float: left;
}
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
	color: #777777;
	background-color: #ffffff;
	cursor: not-allowed;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .rob:before, .rob:after, .pager:before, .pager:after {
	content: " ";
	display: table;
}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .rob:after, .pager:after {
	clear: both;
}

/*サイズによる消去*/
@media (max-width: 800px) {
.hidden-s {
	display: none !important;
}
}

@media (min-width: 801px) {
.hidden-l {
	display: none !important;
}
}
/*画像*/
img {
	vertical-align: middle;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
/*表示・非表示*/
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.invisible {
	visibility: hidden;
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.hidden {
	display: none !important;
	visibility: hidden !important;
}
/*hr*/
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eeeeee;
}
/*dl 横並び xs解除*/
.dl-horizontal dt {
	float: left;
	clear: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dl-horizontal dd {
}

/*dl 横並び xs解除*/
@media (min-width: 801px) {
.dl-horizontal-lg dt {
	float: left;
	clear: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dl-horizontal-lg dd {
}
}
